.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.contentWrappler {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: linear-gradient(to right, #d4276a, #cd4f4d, #cf6910);
  opacity: 0.9;
}

.background {
  background-image: url("/paper.jpg");
  background-size: cover;
  z-index: -1;
}
.footerWrappler {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoWrappler {
  margin-bottom: 40px;
  filter: drop-shadow(2px 2px 2px black);

}
.logoWrappler > h1 {
  font-size: 60px;
  font-family: "Recursive", sans-serif;
  color: #fdfffe;
  font-style: bold;
  margin-left: 5%;
  filter: drop-shadow(10px 10px 1rem #0000009e);
}
.logoWrappler > h1:first-of-type {
  font-size: 80px;
  color: rgba(241, 241, 241, 0.932);
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #3a53e3;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 10px 1rem #0000009e);
  cursor: pointer;
}
.button:hover {
  background-color: #753ae3;

}

.wave {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: calc(10%);
  fill: #723fc5;
}
.leftSection {
  width: 50%;
  padding-left: 5%;
  left: 0;
}

.leftSection img {
  margin-top: 40px;
}
.images {
  width: 500px;
  display: flex;
  justify-content: center;
}
.images img:first-of-type {
 position: relative;
 z-index: 1;
}
.images img:nth-last-of-type(1){
  position: absolute;
  overflow: hidden;
  padding: 10px;
}
.sideBySide {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  gap: 10%;
}


.textSection {
  -webkit-text-stroke: black;
  filter: drop-shadow(2px 2px 2px black);
  
}
.textSection h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: justify;
}
.textSection h2 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: justify;
}
.textSection b {
  color: #3a53e3;
}
@media screen and (max-width: 1200px) {
  .sideBySide {
    flex-direction: column;
  }
  .textSection h1 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .textSection h2 {
    font-size: 15px;
    
  }
  .images {
    width: 100%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap");
