.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.contentWrappler {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background: linear-gradient(to right, #f55d97, #f26866, #eb7a16);
  filter: drop-shadow(0 0 2rem #fb74069e);
  z-index: 1;
  
}

.background {
  background-image: url("/background.jpg");
  opacity: 0.4;
  background-size: cover;
  position: fixed;
}
.footerWrappler {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoWrappler {
  margin-bottom: 40px;

}
.logoWrappler > h1 {
  font-size: 60px;
  font-family: "Recursive", sans-serif;
  color: #fdfffe;
  font-style: bold;
  margin-left: 5%;
  filter: drop-shadow(10px 10px 1rem #0000009e);
}
.logoWrappler > h1:first-of-type {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.542);
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #3a53e3;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 10px 1rem #0000009e);
}
.button:hover {
  background-color: #753ae3;

}

.wave {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: calc(10%);
  fill: #723fc5;
}
.leftSection {
  width: 50%;
  padding-left: 5%;
  left: 0;
}

.leftSection img {
  margin-top: 40px;
}
.images {
  width: 500px;
  display: flex;
  justify-content: center;
}
.sideBySide {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  gap: 10%;
}

.textSection h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: justify;
}
.textSection h2 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: justify;
}
.textSection b {
  color: #3a53e3;
}

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap");
